body {
  background: #e2e1e0;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p{
  font-size: 16px;
  line-height: 1.6;
}

figure{
  margin: 0;
  padding: 0;
}

a{
  color: #000;
  text-decoration: none;
  outline: none;
}

.hidden{
  display: none;
}

.button{
  display: inline-block;
  outline: none !important;
  border: 1px solid #000000;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 18px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #000000;
  transition: all 0.25s ease;
  cursor: pointer;
  &:hover{
    color: #000;
    background-color: #fff;
  }
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 0;
    margin: 0;
  }
}
.App-header {
  background-color: #222;
  height: 100px;
  color: #ffffff;
  a{
    color: #ffffff;
  }
}
.header-inner{
  display: grid;
  grid-template-columns: 4fr 6fr;
  grid-auto-flow: dense;
  .logo{
    text-align: left;
  }
  .nav-wrap{
    text-align: right;
    ul{
      li{
        display: inline-block;
        margin-left: 20px;
        padding: 38.5px 0;
        font-size: 20px;
      }
    }
  }
}

.app-footer{
  padding: 30px 0;
  text-align: center;
  background-color: #222222;
  color: #ffffff;
  font-size: 24px;
  font-weight: bold;
  a{
    display: inline-block;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 20px;
  }
}

.App-title{
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  line-height: 100px;
}

.container{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}


.grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
  grid-auto-rows: minmax(220px, 30vh);
  grid-auto-flow: dense;
  grid-gap: 20px;
  width: 100%;

  a{
    display: inline-block;
    line-height: 1;
  }
  .item{
    position: relative;
    display: inline-block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 2px;
    background-color: #ffffff;
    overflow: hidden;
    &.horizontal{
      grid-row-end: span 2;
    }
    .post-photo{
      display: block;
      width: 100%;
      height: 100%;
      max-width: 100%;
      object-fit: cover;
      object-position: center;
      cursor: zoom-in;
    }
    .likes{
      position: absolute;
      top: 15px;
      right: 15px;
      padding: 5px 15px;
      background-color: rgba(#fff, 0.75);
      font-size: 14px;
      color: #000;
      border-radius: 25px;
      visibility: hidden;
      backface-visibility: hidden;
      transform: translateY(-100%);
      opacity: 0;
      transition: all 0.4s ease;
      z-index: 1;
    }
    .desc-wrap{
      position: absolute;
      bottom: 0;
      left: 0;
      height: auto;
      width: 100%;
      padding: 20px;
      background-color: #ffffff;
      backface-visibility: hidden;
      transform: translateY(101%);
      visibility: hidden;
      opacity: 0;
      transition: all 0.6s ease;
      z-index: 1;
      p{
        margin: 0;
      }
      .author-pic{
        display: inline-block;
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 20px;
      }
      .author-name{
        vertical-align: middle;
        display: inline-block;
        line-height: 50px;
        height: 50px;
      }
    }
    &:hover{
      .likes{
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
      }
      .desc-wrap{

        transform: translateY(0);
        visibility: visible;
        opacity: 1;
      }
    }
  }
  .pagination-wrap{
    grid-column: 1 / -1;
    text-align: center;
    padding: 50px 0 0;
    .button{
      font-weight: bold;
    }
  }
}


.photos-grid-wrap{
  padding-bottom: 100px;
  .orderby-wrap{
    padding: 60px 0;
    ul{
      text-align: right;
      li{
        position: relative;
        color: #888888;
        display: inline-block;
        margin-left: 30px;
        font-size: 22px;
        transition: all 0.3s ease;
        &:after{
          content: ' ';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #222222;
          transform: translateY(4px);
          backface-visibility: hidden;
          opacity: 0;
          visibility: hidden;
          transition: all 0.3s ease;
        }
        &.title{
          font-weight: bold;
          color: #222222;
        }
        &.item{
          cursor: pointer;
          &:hover{
            color: #222222;
            &:after{
              visibility: visible;
              opacity: 1;
              transform: translateY(0);
            }
          }
        }
        &.current{
          color: #222222;
          &:after{
            visibility: visible;
            opacity: 1;
            transform: translateY(0);
          }
        }

      }
    }
  }
}
.photo-modal{
  .popup-overlay{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#fff, 0.75);
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
  }
  .popup-wrap{
    display: block;
    width: 1200px;
    margin: 0 auto;
    max-width: 100%;
    height: 600px;
    max-height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 50%;
    background: #ffffff;
    border-radius: 2px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    transform: translateY(-150%);
    backface-visibility: hidden;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
    .toggle-button{
      position: absolute;
      right: 30px;
      top: 30px;
      height: 20px;
      width: 20px;
      cursor: pointer;
      outline: none;
      border: none;
      box-shadow: none;
      background-color: transparent;
      font-size: 40px;
      line-height: 20px;
      padding: 0;
      margin: 0;
    }
  }
  .popup-inner{
    height: 100%;
    width: 100%;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 3fr 2fr;
    img{
      display: inline-block;
      max-width: 100%;
      max-height: 100%;
      height: auto;
    }
    .col{
      padding: 60px 60px 20px;
      &.col-left{
        padding-right: 0;
      }
      .desc-wrap{
        p{
          margin: 10px 0;
        }
      }
    }
  }
  &.opened{
    .popup-overlay{
      visibility: visible;
      opacity: 1;
    }
    .popup-wrap{
      transform: translateY(-50%);
      visibility: visible;
      opacity: 1;
    }
  }
}

.settings-wrap{
  .title{
    font-size: 24px;
    line-height: 1;
    margin: 0 0 40px;
  }
  .buttons-wrap{
    width: 100%;
    .button{
      width: 100%;
      margin-bottom: 20px;
    }
  }
  .setting{
    margin-bottom: 20px;

    label{
      font-size: 14px;
      display: block;
      width: 100%;
      div{
        text-transform: capitalize;
        float: left;
        width: 50%;
        &:last-child{
          text-align: right;
        }
      }
    }
    input{
      display: inline-block;
      width: 100%;
    }
  }
}


.user-info-wrap{
  margin-top: 40px;
  background-color: #ffffff;
  border-radius: 2px;
  padding: 40px 0;
  text-align: center;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  img{
    border-radius: 50%;
    margin-bottom: 20px;
  }
  .fullname{
    font-size: 20px;
    margin: 0;
  }
  .username{
    margin: 0;
  }
  .location{
    color: #222222;
    font-style: italic;
  }
}

.user-stats-wrap{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px,1fr));
  grid-auto-flow: dense;
  grid-gap: 20px;
  padding-top: 20px;

  .stat-item{
    display: inline-block;
    font-size: 16px;
    span{
      margin-top: 10px;
      line-height: 1;
      font-size: 20px;
      font-weight: bold;
      display: block;
    }
  }
}


.fade-up-enter {
  opacity: 0.01;
  transform: translateY(100vh);
}

.fade-up-enter.fade-up-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: all 600ms ease;
}

.fade-up-exit {
  transform: translateY(0);
  opacity: 1;
}

.fade-up-exit.fade-up-exit-active {
  opacity: 0.01;
  transform: translateY(100vh);
  transition: all 800ms ease;
}


@media only screen and (max-width : 1400px){
  .container{
    width: 1100px;
  }
}

@media only screen and (max-width : 768px)
{
  .container{
    width: calc(100% - 40px);
  }
}

@media only screen and (min-width : 1900px)
{
  .container{
    width: 1600px;
  }
}